<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
  <!-- <link rel="stylesheet" href="stylesheet.css" type="text/css"> -->
  </head>
  <body>
    <form action="/entities" method="POST">
  
      <label for="name">Entity Name:</label>
      <input type="text" name="name" id="name">
      <label for="address">Address:</label>
      <input type="text" name="address" id="address">
      <label for="city">City:</label>
      <input type="text" name="city" id="city">
      <label for="state">State:</label>
      <input type="text" name="state" id="state">
      <label for="zip">Zip Code:</label>
      <input type="text" name="zip" id="zip">
      <label for="phone">Contact Phone:</label>
      <input type="text" name="phone" id="phone">
      <label for="email">Contact Email:</label>
      <input type="text" name="email" id="email">
      <label for="entity_type">Entity Type:</label>
      <select name="entity_type" id="entity_type">
        <option value="LLC">LLC</option>
        <option value="Inc">Corporation</option>
        <option value="LLP">Limited Liability Partnership</option>
        <option value="LP">Limited Partnership</option>
        <option value="Sole">Sole Proprietorship</option>
        <option value="Partnership">General Partnership</option>
      </select>
<!--  <input type="hidden" name="user_id" value="<%= @user.id %>">  -->
      <input type="submit" value="Create Entity">
  </body>
</html>