<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    
    <form action="/users" method="POST">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name">
      <label for="email">Email:</label>
      <input type="text" name="email" id="email">
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
      <input type="submit" value="Register">
    </form>
  </body>
</html>

